---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
const allPosts = await Astro.glob('../pages/posts/*.json');
---

<BaseLayout>
  <main>
    <ul>
      {allPosts
          .filter(p => !p.draft)
          .reverse()
          .map(p => <li><PostCard props={p} /></li>)}
    </ul>
  </main>
</BaseLayout>

<style>
  main {
    margin-block: 2rem;
    margin-inline: 5rem;
  }

  ul {
    flex-wrap: wrap;
    gap: 5rem !important;
    justify-content: center;
    align-items: flex-start;
  }

  li {
    flex: 0 0 300px;
  }

  @media(hover: hover) {

    li {
      transition: translate 250ms linear;
    }

    li:hover {
      transition: translate 250ms cubic-bezier(0,0,.34,2.03);
      translate: 7px -7px;
    }

  }
</style>
