---

---
<nav class="accent-background">
    <a class="raw" href="/"><i class="fa-solid fa-home"></i></a>
    <h1>Mahjong - P.Willemet</h1>
    <a class="raw" href="/about/"><i class="fa-solid fa-user"/></a>
    <a class="raw" href="https://ludosphere.fr/@pwillemet/"><i class="fa-brands fa-mastodon"/></a>
    <a class="raw" href="https://www.twitch.tv/kwoinkwoin"><i class="fa-brands fa-twitch"/></a>
    <a class="raw" href="mailto:pierric.willemet@gmai.com"><i class="fa-solid fa-envelope"/></a>
</nav>

<style>
    nav {
        height: 89px;
        background-color: #361F7;
        display: flex;
        align-items: center;
        padding-inline: 3rem;
        gap: 1.5rem;
    }

    i {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2rem;
        margin-right: auto;
    }
</style>
